.book-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
    /* background: lightgrey; */
}

.book-content {
    margin: 20px;
    width: 200px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-container {
    margin: 10px;
    padding: 10px;
    min-height: 100px;
    border-radius: 5px;
    border: 2px solid lightgray;
    z-index: 10;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.6);
    background: white;
}

.search-container {
    padding-top: 20px;
}

.search-container input {
    min-width: 315px;
    margin-right: 10px;
    height: 40px;
    border-radius: 5px;
}

.search-container button {
    border-radius: 5px;
    height: 40px;
    width: 80px;
    color: white;
    font-variant-caps: all-small-caps;
    background-color: #48B;
    border:0px;
}

ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul.pagination li.page-item.active button.page-link {
    color: #445565 !important;
    background-color: #e3e7eb !important;
    border-color: #ced4da !important;
}

ul.pagination button.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none !important;
    border-color: #ced4da !important;
    color: #6b88a4;
    font-weight: 900;
    font-size: 1rem;
}

ul.pagination button.page-link:hover {
    background-color: #f4f4f4;
}

.current-page {
    font-size: 1.5rem;
    vertical-align: middle;
}

.page {
    background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 54%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 54%, rgba(255, 255, 255, 0) 0) 55px 0 #48B;
    background-size: 22px 140px;
    background-repeat: repeat-x;
}